/* Posted to: http://userstyles.org/styles/98026/irccloud-comicsans
 *
 * Please do me a favor and do not use this if Comic Sans MS is not installed on your computer.
 *
 */

@-moz-document domain("irccloud.com"),
domain("www.irccloud.com") {
  body {
    font-family: "Comic Sans MS" !important;
  }

  td.nickcell a.nick,
  td.inputcell textarea,
  div.log div.messageRow,
  div.log div.me a.user,
  div.log div.me a.server {
    font-family: inherit;
  }

  button {
    font-family: inherit;
  }

  span.mode_symbol,
  span.mode_pill {
    font-family: inherit;
  }

  input {
    font-family: inherit;
  }

  textarea {
    font-family: inherit;
  }
}
