/* IRCCloud-serif.css: A theme to change the font of IRCCloud's
 * web app to serif. This relies on your browser choosing a default
 * font for serif, which is usually Times New Roman or Liberation Serif
 * 
 * I won't be posting this to the userstyles site because I don't think it is
 * necessary.
 */


@-moz-document domain("irccloud.com"), domain("www.irccloud.com") {
body {
  font-family: serif!important;
}

td.nickcell a.nick, td.inputcell textarea, div.log div.messageRow, div.log div.me a.user, div.log div.me a.server {
  font-family: inherit;
}

button {
  font-family: inherit;
}

span.mode_symbol, span.mode_pill {
  font-family: inherit;
}

input {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}
}
