/* Unposted at userstyles.org */ 
 
 
/* This is the classic Disqus theme used on Techman's World before the classic Disqus was
 * discontinued. I wanted to make the theme public to everyone, just for the hell of it. Long
 * live Disqus classic, even though it has been killed.
 * 
 * To see what the theme actually looked like, look at the URL below:
 * 
 * http://www.techmansworld.com/2013/10/a-day-in-disqus-history-fare-well-to.html
 */
@-moz-document domain("techmansworld.com") {
#dsq-content .dsq-founder.dsq-moderator .dsq-comment-header{background:#dbebff!important}
#dsq-content .dsq-moderator .dsq-comment-header{background:#62fdce!important}
#dsq-content .dsq-comment-header{background:#d6f8de!important}
#dsq-content li{border-top:0 solid transparent}#dsq-content a:hover{cursor:default;text-decoration:underline}
#dsq-content .dsq-comment-header a.dsq-commenter-name{pointer-events:none;color:#888;font-size:11pt}
#dsq-content .dsq-comment-body a:hover{color:black}
#dsq-content .dsq-global-toolbar ul li .dsq-toolbar-dropdown .dsq-toolbar-dropdown-wrap ul li.dsq-about-link{display:none}
#dsq-content #dsq-global-toolbar ul li #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap ul li.dsq-about-link{display:none!important}
#dsq-content #dsq-global-toolbar ul li.dsq-dislike-thread{display:none!important}
#dsq-content #dsq-reply h3{font-family:DBXLNightFever,Arial,Helvetica,sans-serif;font-size:15pt}
#dsq-content.clearfix h3{font-family:DBXLNightFever,Arial,Helvetica,sans-serif;font-size:17px}
#dsq-content.clearfix h3.dsq-h3-reactions{font-size:19px}
#dsq-content #dsq-comments #dsq-comment-body .dsq-comment-message{font-size:10pt}
#dsq-content #dsq-comments .dsq-comment .dsq-comment-body .dsq-comment-message p.dsq-editedtxt{display:none!important}
#dsq-comment-text{font-size:11pt!important}
#dsq-content .dsq-numbered-pagination span{margin:0 4px;padding:3px 5px;border:1px solid #ddd;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#dsq-content .dsq-numbered-pagination a{margin:0 4px;padding:3px 5px;border:1px solid #c8d5e0;background:#f6f6f6;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#dsq-content #dsq-reply #dsq-account-dropdown{font-family:DBXLNightFever,Arial}
#dsq-content .dsq-post-tools .dsq-button.dsq-post-loading{background:transparent}
#dsq-content .dsq-post-tools .dsq-button{background:transparent}
#dsq-content .dsq-comment .dsq-comment-body .dsq-edit .dsq-save-edit .dsq-button{background:transparent}
}
 
